/* --------------------------TEST CSS-------------------------------- */
#nav5 {
  border-radius: 40px;
  background-color: var(--navback);
}
/* ----------------------------------------------SOCIAL MEDIA------------------------------------------ */
div.Sociallinks {
  margin: 0px auto ;
  width:80vw;
  display: flex;
  border-radius: 3px;
  background: none;
}
.socialogo {
  background-color: white;
  border-radius:15px;
  padding:2px;
  height: 50px;
  margin: 10px auto;
}
.solinks {
  margin: 0px auto;
  background: none;
}
/* ---------------------------------------------------------------------------------------- */
main {
  margin: 20px 0px;
  background-image: linear-gradient(135deg, rgb(88, 9, 161), rgb(0, 132, 255));
  height: 150vw;
}
